.top {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding: 25px 0;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper > img {
    width: 300px;
    height: 300px;
}

.about {
    padding: 0px 20px;
}

.about,
.languages,
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.frontend,
.backend,
.other {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin-bottom: 10px;
    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        // outline: 2px dashed white;
        // border-radius: 10px;
        // background-color: rgb(255, 255, 255);
        padding: 10px;
        opacity: .8;
        &:hover {
            cursor: pointer;
            opacity: 1;
            transition: opacity 300ms ease-in-out;
        }
    }
    & > div > img {
        height: 80px;
        width: 100px;
    }
}

fieldset {
    border: 2px solid white;
    border-radius: 10px;
}

legend {
    text-align: center;
}

.language {
    font-weight: bold;
}

.backend > div:nth-child(3) > img:hover {
    transform: rotate(10deg);
    transition: transform 300ms linear;
}