@font-face {
    font-family: "poppins";
    src: 
        url("../assets/poppins.woff2") format("woff2"),
        url("../assets/poppins.woff") format("woff");
}

@font-face {
    font-family: "poppins-top";
    src: 
        url("../assets/poppins-top.woff2") format("woff2"),
        url("../assets/poppins-top.woff") format("woff");
}