header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // width: 90vw;
    max-width: 1200px;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.right > button {
    all: unset;
    padding: 25px 30px;
    margin-bottom: 2px;
    background-color: rgba(44, 58, 88, 0);
    transition: background-color 500ms linear;
    font-weight: 900;
    &:hover {
        // border-bottom: 2px solid white;
        // margin-bottom: 0;
        cursor: pointer;
        background-color: rgba(44, 58, 88, 1);
        transition: background-color 500ms linear;
    }
}

